.open{
    display: flex !important;
    padding: 0em !important;
}

.header{
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    position: sticky;
    &__burger{
        display: none;
        position: relative;
        z-index: 51;
        align-items: center;
        justify-content: flex-start;
        width: 90px;
        height: 54px;
        margin-right: 0em;
    }
    &__burger span{
        height: 4px;
        width: 80%;
        transform: scale(1);
        background-color: gray;
    }
    &__burger::before, &__burger::after{
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: gray;
        transition: all 0.3s ease 0s;
    }
    &__burger::before{
        top: 0;
    }
    &__burger::after{
        bottom: 0;
    }
    &__burger.active span{
        transform: scale(0);
    }
    &__burger.active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    &__burger.active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    @media (width < 900px) {
        .sections{
            display: none;
        }
        &__burger{
            display: flex;
        }
        &__icon{
            display: none;
        }
        &__name{
            margin-top: 5em;
        }
        &__catalog{
            margin-left: 0em !important;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        &__news{
            margin: 0em !important;
        }
        &__menu{
            display: none;
        }
        &__item1{
            display: none;
            padding: 0em;
            flex-direction: column;
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 50;
            overflow-y: auto;
            color: white;
            padding: 50px 40px;
            background-color: black;
            animation: burger-Animation 0.4s;
            @keyframes burger-Animation {
                0% {opacity: 0%;}
                100% {opacity: 100%;}
            }
        }
    }

    &__brand{
        display: inline-flex;
        align-items: end;
    }
    &__icon{
        height: 3em;
        width: 3em;
    }
    &__name{
        font-size: xx-large;
        margin-left: 1em;
    }
    &__catalog{
        display: inline-flex;
        margin-left: 5em;
        align-items: end;
        position: relative;
    }
    &__menu{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: rgb(253, 253, 253);
        z-index: 52;
        padding: 1em;
        top: -1em;
        left: 14em;
        opacity: 0%;
        width: 11em;
        height: 10em;
        transition-duration: 100ms, 50ms; 
        transition-property: top, opacity; 
    }
    &__menu:hover{
        top: 0em;
        opacity: 100%;
    }   
    &__menu-item{
        display: block;
        border-bottom: 1px solid gray;
    }
    &__catalogword{
        font-size: xx-large;
        margin-left: 1em;
    }
    &__news{
        display: inline-flex;
        align-items: end;
        margin-left: 5em;
    }
    &__newsword{
        font-size: xx-large;
        margin-left: 1em;
    }
    &__buttons{
        display: inline-flex;
        align-items: end;
        margin-right: 0.5em;
    }
    &__log{
        height: 3em;
        width: 7em;
        border-radius: 15%;
        background-color: rgb(227, 227, 227);
        color: gray;
        border: none;
    }
    &__log:hover{
        background-color: rgb(180, 180, 180);
        color: white;
    }
    &__signin{
        height: 3em;
        width: 7em;
        margin-left: 1em;
        border-radius: 15%;
        background-color: rgb(144, 255, 84);
        color: rgb(255, 255, 255);
        border: none;
    }
    &__signin:hover{
        background-color: rgb(116, 195, 77);
    }
}

